<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Web Scrapper - Prefeitura Rio Noticias
  body(onload="carrega()")
    if (notice)
      h1= notice.title
      p= notice.data
      p= notice.horario
      img(src=notice.img_src style="height: 400px")
      br
      p= notice.body
        
